.footer {
  background-color: $darkBackgroundColor;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: unset;
  }

}

.footer-logo-wrapper{
  text-align: center;

  @media screen and (min-width: 1200px) {
      text-align: left;
    }
}

%footer-header {
  font-weight: 700;
  font-size: $fontSize;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $lightColor;
  margin-top: 15px;
}

.social__header {
  @extend %footer-header;
    text-align: center;
    margin-top: 38px;

@media screen and (min-width: 768px) {
    margin-top: 15px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address__item{
  text-align: center;

  @media screen and (min-width: 1200px) {
      text-align: left;
  }
}

.footer-address-link {
  color: $darkColor;
  font-weight: 400;
  line-height: 24px;
  font-size: $fontSize;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $lightColor;
  }

}

// .footer-wrapper {
//   margin-left: 70px;
// }

// .footer {
//  background-color: $darkBackgroundColor;
// }
    
//   @media screen and (min-width: 1200px) {
//     padding: 60px 0;
//   }
// }
 
// .footer-logo-wrapper{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-right: 15px;
// }

// .address__item{
//   text-align: center;

//   @media screen and (min-width: 1200px) {
//       text-align: left;
//   }
// }

// .footer-address-link {
//     color: $darkColor;
//     font-weight: 400;
//     line-height: 24px;
//     font-size: $fontSize;
//     letter-spacing: 0.03em;
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// &:focus,
// &:hover {
//   color: $lightColor;
// }
// }

// .footer-header {
//     font-weight: 700;
//     font-size: $fontSize;
//     line-height: 16px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $lightColor;
//     margin-top: 48px;
//     text-align: center;

//   @media screen and (min-width: 1200px) {
//     margin-top: 15px;
//     text-align: left;
//   }
// }

// .footer-container {
//   display: flex;
//   flex-direction: column;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-around;
//   }

//   @media screen and (min-width: 1200px) { 
//   flex-wrap: nowrap;
//   flex-direction: row;
//   align-items: center;

//   .footer-socials-wrapper {
//       margin-left: 70px;
//     }

// }
// }
