.section-heading{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.header {
    border-bottom: 1px solid #ECECEC;
}